<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Adarsh A Inamdar</h1>
        <p>Full Stack Developer | AI/ML Enthusiast | Cybersecurity Innovator</p>
    </header>
    <section>
        <h2>About Me</h2>
        <p><br>
            Cybersecurity Professional | C/C++, Python, HTML/CSS Enthusiast<br>

Dedicated to safeguarding digital assets and ensuring secure information systems, I bring a robust skill set and passion for cybersecurity to the table. My expertise spans a wide range of areas:<br>
<br><br>
• Cybersecurity: Proficient in identifying system vulnerabilities, implementing security measures, and conducting risk assessments. Skilled in threat identification, incident response, and policy development. 
<br>
• Programming Languages: Experienced in C, C++, Python, and proficient in HTML/CSS for front-end development. I leverage these languages to build secure applications, perform code audits, and develop robust security algorithms.
<br>
• Network Security: Familiar with network protocols, firewalls, and intrusion detection systems, I secure network infrastructure and follow best practices to prevent unauthorized access.
<br>
• Secure Software Development: Well-versed in secure coding practices, vulnerability testing, and penetration testing. I adhere to industry standards such as OWASP and NIST guidelines.
<br>
• Front-End Development: Proficient in HTML and CSS, I assess and secure web applications, collaborate effectively with developers, and create user-friendly security interfaces.
<br>
• Incident Response: Skilled in detecting, analyzing, and responding to security incidents. Proficient in forensic investigations, log analysis, and incident mitigation to minimize cyber threats' impact.
<br><br><br>
I'm committed to staying updated with the latest trends in cybersecurity and am currently enhancing my automation skills in Python to streamline security operations.
<br><br>
If you're looking for a dedicated cybersecurity professional with strong programming and front-end development skills, let's connect and explore opportunities to make a positive impact in the cybersecurity landscape.<br>
        </p>
    </section>
    <section>
        <h2>Skills</h2>
        <ul>
            <li>Full Stack Development</li>
            <li>Artificial Intelligence (AI) </li>
            <li> Machine Learning (ML) </li>
            <li> Python Programming</li>
            <li> HTML</li>
            <li> CSS </li>
            <li> JavaScript</li>
            <li> Web Development</li>
            <li> Front-end Development</li>
            <li> Back-end Development</li>
            <li> Database Management</li>
            <li> DevOps</li>
            <li> Cloud Computing  </li>
            <li> Cybersecurity</li>
            <li> Network Security</li>
            <li> Information Security</li>
            <li> Vulnerability Assessment</li>
            <li> Penetration Testing</li>
            <li> Threat Detection</li>
            <li> Security Policy Development</li>
            <li> Intrusion Detection Systems  </li>
            <li> Firewall Management</li>
            <li> Data Encryption</li>
            <li> Secure Coding Practices</li>
            <li> Security Compliance </li>
            <li> Risk Assessment</li>
            <li> Incident Response</li>
            <li> Cybersecurity Frameworks </li>
            <li> Deep Learning</li>
            <li> Natural Language Processing (NLP) </li>
            <li> Data Analytics</li>


        </ul>
    </section>
    <section>
        <h1 class="Allign">
            Cetrifications
        </h1>
        <p Class="Allign">
            <a href="https://analytics.google.com/analytics/academy/certificate/YaclHWPrTVKu8zaxmHUrzg">Google analytics for beginners</a><br>
            <a href="https://drive.google.com/file/d/1vevaF4Tn5C-6xeP446h0Sp4yUZG_3I3v/view?usp=share_link">Cyber Samurai in Cyber Defence</a><br>
            <a href="https://www.udemy.com/certificate/UC-da04fcbe-d681-44c4-a838-57c89970a06b/">C Programming For Beginners</a><br>
            <a href="https://www.hackerrank.com/certificates/b02529e81100">Problem Solving (Basic) Certificate</a><br>
            <a href="https://www.udemy.com/certificate/UC-b922d592-ed87-4e6c-a51d-da056666af8d/">Python Complete Course for Python Beginners</a><br>
        </p>
    </section>
    <footer>
        <p>Contact: adarshinamdar2003@gmail.com</p>
    </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
